body {
    font-family: Georgia, serif;
    background-color: #006400; 
    color: white;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: #228B22; /* This is forest green */
    color: white; /* This is to make the header text color white */
}

#profile-pic {
    width: 150px;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav {
    background-color: #228B22;
}

#section1 {
    margin-bottom: 150px;
    
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    background-color: #228B22;
}

footer {
    background-color: #228B22;
    text-align: center;
}
