body {
    font-family: Georgia, serif;
    background-color: #006400; 
    color: white;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: #228B22; /* This is forest green */
    color: white; /* This is to make the header text color white */
}
#section1 {
    margin-bottom: 50px;

nav {
    background-color: #228B22;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    background-color: #228B22;
}

footer {
    background-color: #228B22;
    text-align: center;
}
